*{
	margin: 0;
	padding: 0;
}
ul,li,a{
	text-decoration: none;
	color: black;
}
li{
	list-style: none;
	float: left;
}
body{
	width: 1100px;
	margin: 0 auto;
}
h5{
	font-weight: normal;
	font-size: 14px;
}
.operation .delete:hover{
	color: #0f0f0f;
	cursor: pointer;
}
.count .add:hover, .count .reduce:hover {
	color: #f50;
	z-index: 3;
	cursor: pointer;
}
