.title{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	height: 80px;
}
.title-left{
	position: absolute;
	top: 30px;
	font-size: 14px;
	display: inline;
}
.title-left a:hover div{
    display: block;
}
.title-logo{
	width: 500px;
	padding: 1px 0 0 0;
	margin: 0 auto;
	text-align: center;

}
.title-right{
	float: right;
	font-size: 14px;
	display: block;
}
.tips{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-color: #cccccc;
}

.search-firstline,.search-secondline{
	width: 100%;
	height: 50px;
	border: 1px solid #cccccc;
	margin: 0;
}
.search-firstline li>a{
	color: #838383;
}
.search-secondline li>a{
	color: #838383;
}
.search-secondline{
	border-top: 0;
}

